/out
/data/Statics
/data/Instances
/data/Textures
/data/Dynamics
/data/DynMaterials
/data/Materials
/cache
test.py
__pycache__
/data/DynInstances
/ExtractedFiles/Scripts
/data/Terrain
/data/Havok
/ExtractedFiles/Encounters